---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<ul role="list" class="social-list">
{% for data in socials %}
  <li>
    <span>፨ {{ data.social }} ፨</span>
    <a rel="me" href="{{ data.url }}">{{ data.title }}</a> </span>
  </li>
{% endfor %}
</ul>